<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>@Model.GetMakeModel()</h1>
        <ul>
            <li>@Model.GetMilage() miles</li>
            <li>$@Model.GetPrice()</li>
        </ul>
        <p>@Model.GetDescription()</p>
    </body>
</html>

<a href="/">Back to car list</a>
